<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124349119468-m3r2bbjv31i9l4j9lmlqm3c9v9es76o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124349119468-m3r2bbjv31i9l4j9lmlqm3c9v9es76o0</string>
	<key>API_KEY</key>
	<string>AIzaSyCDuUDtdownuG7uoo_pnMLfqUC0hHTJR5E</string>
	<key>GCM_SENDER_ID</key>
	<string>124349119468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pavitraskitchen</string>
	<key>PROJECT_ID</key>
	<string>kitchen-app-6e6c3</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchen-app-6e6c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124349119468:ios:044a0ef4d1e689047cdec9</string>
	<key>DATABASE_URL</key>
	<string>https://kitchen-app-6e6c3.firebaseio.com</string>
</dict>
</plist>